#feedMenuMobile {
  display: none; // displayed via js
}

.feeds_list {
  background-color: $body-bg;

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  tr.headline {
    td {
      div {
        span {
          margin-bottom: 14px;
          border-bottom: 2px solid #888;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .feeds_dropdown {
    margin: 0;
    padding: 10pt 10pt 10pt 10pt;
    box-shadow: 5px 5px 15px #333333;
    border: none;
    font-size: 16px;
    line-height: 1.5;
  }
}