.navbar {
  border: none;
  position: absolute;
  background-color: black;

  @media #{$xs-or-smaller} {
    position: initial;

    & > .container-fluid {
      display: inline-table;
      width: 100%;
    }
    form {
      width: 100%;
    }
    .input-group {
      margin-bottom: $padding-small-vertical;
    }
  }

  .navbar-brand {
    padding: 9px 15px;
    img {
      height: 33px;
    }
  }

  .btn.btn-default {
    padding: 0.2em;
    height: 1.8em;
    &:hover, &:focus, &:active {
      color: $brand-primary;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .btn.btn-login {
    &:hover, &:focus, &:active {
      color: $brand-primary;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .btn.btn-account {
    &:hover, &:focus, &:active {
      color: $brand-primary;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .btn.btn-register {
    margin-left: 0.4em;
    color: #fff;
    background-color: $brand-primary;
    &:hover, &:focus, &:active {
      color: $brand-primary;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .navbar-form {
    padding-left: 0.2em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;

    &.dropdown {
      padding-right: 0.0em;
    }

    &.account {
      padding-right: 1em;
    }
  }

  input {
    height: 1.8em;
    padding-top: 6px;
  }

  .icon {
    min-width: 20px;
    font-size: 1.3em;
    display: inline-block;
  }
}
