body.page-show {
  h3 {
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 12px;
  }

  h4 {
    margin-top: 10px;
  }

  video {
    background-color: #000;
  }

  .chat-video-wrapper{
    //these values are also present in chat.js
    display: flex;
    position: static;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vh;

    .starting-time {
      color: white;
      position: absolute;
      padding: 3em;
      z-index: 4000;

      p{
        font-size: 3em;
      }
    }

    .syncing {
      color: white;
      padding: 1em;
      position: absolute;
      display: unset;
      font-size: 3em;
      z-index: 4000;
    }

    .muted{
      color: white;
      padding-top: 1em;
      cursor: pointer;
      padding-left: .3em;
      position: absolute;
      display: none;
      font-size: 9em;
      z-index: 4000;
    }

    .chat {
      background-color: $gray-darker;
      width: 20vw;
      position: relative;
      display: flex;
      flex-direction: column;

      .chat-placeholder {
        position: absolute;
        color: #fff;
        padding: 5px;
        bottom: 1em;
      }

      .chat-settings {
        color: #fff;
        background-color: $gray-darker;
        position: relative;
        margin-left: auto;
        margin-right: 0;
        z-index: 1;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        a {
          text-decoration: none;
        }
      }

      .chat-messages {
        color: #fff;
        position: absolute;
        padding: 5px 5px 5px 5px;
        max-height: calc(100% - 4em);
        max-width: 100%;
        scrollbar-width: none;
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: hidden;

        btn {
          color: $brand-primary;
        }

        .dropdown {
          display: inline;
        }

        .dropdown-toggle {
          cursor: pointer;
        }

        .dropdown-menu {
          position: unset;
          width: 70%;
          padding: 0px;
          margin-right: 30%;
          background-color: unset;
          box-shadow: none;
          border: none;
          a {
            color: white;
            cursor: pointer;
          }
        }
      }

      .chat-message {
        padding-bottom: 5px;
        cursor: default;

        .message-id {
          display: none;
        }

        .user-id {
          display: none;
        }

        .own-username {
          color: #FFF;
        }
      }

      .chat-messages::-webkit-scrollbar {
        display: none;
      }

      .chat-input {
        margin-top: auto;
        line-height: 0;
        textarea {
          background-color: #555;
          color: #fff;
          border: none;
          line-height: 1.1;
          width: 20vw;
          resize: none;
          overflow: hidden;
        }

        textarea:focus {
          outline:none;
        }
      }
    }
  }

  .sorry{
    margin-top: 1em;
    font-size: 2em;
  }

  .buy {
    margin-top: 4em;
    margin-bottom: 5em;

    .price-box{
      width: 45%;
      height: auto;
      position:relative;
      float: left;
    }

    .thumb-wrapper {
      width: 50%;
      height: auto;
      position:relative;
      margin-right: 0;
      margin-left: auto;
    }

    .thumb-wrapper img{
      width:100%;
      height:auto;
      -webkit-filter: blur(10px); /* Safari */
      filter: blur(7px);
    }

    .thumb-wrapper span{
      position:absolute;
      top: 0;
      bottom:0;
      left: 0;
      right:0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background: transparent url(lock.svg) no-repeat;
      background-position:center;
      background-size: 20%;
    }

    .amount{
      height: 1.5em;
      width: 3em;
      font-size: 2em;
    }

    #buy{
      border-radius: 0.3em;
      font-size: 2em;
      height: 1.3em;
      width: 4em;
      background-color: $brand-primary;
      border-color: $brand-primary;
      color: #fff;
      border: none;

      &:hover {
        background-color: #ccc;
        color: black;
      }
    }

    img{
      width: 35%;
      height: auto;
    }

  }

  .donate {
    .amount{
      height: 1.6em;
      width: 3em;
      font-size: 1.5em;
    }

    #buy{
      border-radius: 0.3em;
      font-size: 1.5em;
      height: 1.6em;
      width: 5em;
      background-color: $brand-primary;
      border-color: $brand-primary;
      color: #fff;
      border: none;

      &:hover {
        background-color: #ccc;
        color: black;
      }
    }
  }

  .player-header {
    clear: both;

    .thumbnail {
      float: right;
      img {
        max-height: 90px;
        max-width: 300px;
      } 
      margin-left: $padding-small-horizontal;
      margin-top: -$padding-large-horizontal;
    }
  }

  .player {
    margin-top: 1vh;
    clear: both;
  }

  .metadata {
    list-style: none;
    padding: $padding-small-vertical 0;
    text-align: center;
    border-bottom: 1px solid $gray;
    font-size: 16px;

    li {
      display: inline-block;
      min-width: 18%;
      padding: $padding-small-vertical $padding-small-horizontal;
    }

    .icon {
      margin-right: $padding-xs-horizontal;

      & + a {
        position: relative;
        top: -2px;
      }
    }
  }

  .description {
    margin-top: 12px;
  }

  ul.share {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: block;
      float: left;
      margin-right: 10px;

      a {
        display: block;
        color: white;

        background: $gray-light;
        text-decoration: none;

        &:hover {
          background-color: $gray;
        }

        width: 48px;
        height: 48px;
        border-radius: 5px;

        text-align: center;

        i {
          font-size: 32px;
          line-height: 48px;
        }
      }
    }
  }

  textarea.share {
    width: 100%;
    padding: 5px;
    line-height: 130%;

    background-color: $gray-lighter;
    border: 1px solid #e3e3e3;
  }

  .downloads {
    .row {
      margin-bottom: 12px;
    }

    .multiaudio-warning .well {
      margin-bottom: 0;
    }

    // extract into shared scss?
    .nav-tabs {
      li > a {
        padding: 10px 20px;

        background-color: $gray;
        color: $gray-lighter;

        font-size: 16px;
      }
      li.active a {
        background-color: $gray-lighter;
        color: $gray-dark;
      }
    }

    .tab-content {
      background-color: $gray-lighter;
      border-bottom: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      padding: 10px;

      overflow: hidden;

      .btn-wrap {
        width: 100%;
        display: block;
        float: left;

        @media #{$smmd-or-bigger} {
          width: 50%;
        }
        @media #{$md-or-bigger} {
          width: 25%;
        }
      }

      .btn {
        $btn-height: 55px;

        margin: 5px;
        height: $btn-height;
        display: block;
        padding-top: 9px;

        border-width: 0;
        position: relative;

        .title { font-size: 19px; }
        .size {
          color: $gray-lighter;
          font-weight: lighter;
          font-size: 13px;
        }
        .language {
          $language-height: 32px;

          color: $gray-darker;
          background: white;
          border: 1px solid $gray;

          border-radius: 4px;

          position: absolute;

          text-align: center;
          line-height: $language-height;

          height: $language-height;
          width: $language-height;
          left: ($btn-height - $language-height) / 2;
          top: ($btn-height - $language-height) / 2;
        }
      }
    }

    // this includes the subtitles button
    .btn {
      background: $gray-light;
      color: white;

      &:hover {
        background: lighten($gray-light, 10%);
      }
    }

    .subtitle {
      .dropdown {
        display: block;
        float: left;
      }
      .onlyone {
        float: left;
      }
      .improve {
        display: block;
        float: left;
        margin-left: 15px;
        line-height: 34px;
      }
      .btn {
        margin-top: 3px;
      }
    }
  }
}
