= javascript_include_tag 'price.js'
%p
  Du kannst diesen Inhalt bereits online ansehen. Um auch Download-Zugang zu bekommen zahle bitte mindestens #{@event.difference_to_download_pretty(current_user.id)}€

  -if user_signed_in?
    %br/
    = form_for(:purchase, :url => "/purchase", html: { method: :post, autocomplete: "off"}) do |f|
      = f.hidden_field :event_id, :value => event.id
      = f.hidden_field :conference_id, :value => conference.id
      = f.text_field :paid, {class: "amount", id: "price_input" , oninput: "checkPriceInput(#{@event.difference_to_download(current_user.id)})"}
      &ensp;
      %b.amount €
      &emsp;
      &ensp;
      = f.submit "Kaufen", {id: "buy", disabled: true}
  -else
    %i Bitte logge dich ein um Download-Zugang zu kaufen.