= javascript_include_tag 'price.js'
.sorry
  %p Du hast noch keinen Zugang zu dieser Datei.

- if @event.synch_event
  - if @event.event_pending
    %h4 Dieses Event hat noch nicht begonnen. der Film startet am #{@event.starting_time.to_formatted_s(:short_german)}, der Chat wird eine halbe Stunde vor Beginn geöffnet.
  - elsif @event.event_running
    %h4 Dieses Event läuft bereits. Es endet in etwa #{@event.event_minutes_left} Minuten, Filmstart ist um #{@event.starting_time.to_formatted_s(:time_german)} Uhr. Wenn du glaubst das lohnt sich noch kannst du noch einen Zugang kaufen.

.buy
  %div{class: "price-box"}
    %p Der Zugang ist kostenpflichtig.

    %p
      Zahle bitte mindestens
      #{@event.view_threshold_pretty}€
      um Zugang zu bekommen.

    - if @event.downloadable and @event.download_threshold > @event.view_threshold
      %p Um den Inhalt auch herunterladen zu können zahle bitte mindestens #{@event.download_threshold_pretty}€.
    %p Wenn du willst kannst du gerne etwas mehr geben.
    %p Falls es zu "#{@conference.title}" noch andere kostenpflichtige Inhalte gibt bekommst du automatisch auch dazu Zugang.

    - if !@event.synch_event
      - if @event.downloadable and @event.download_threshold == @event.view_threshold
        %p Wenn du einmal bezahlt hast kannst du den Inhalt so oft du willst online ansehen und herunterladen.
      - else
        %p Sobald du einmal bezahlt hast kannst du den Inhalt so oft du willst online ansehen.
    - else
      %p Das hier ist ein einmaliges Live-Event.
      -if @event.event_over
        %br/
        %b
          Das Event ist leider schon vorbei.
          %br/
          Schau dir doch an was es sonst noch zu
          %a{href: "/b/#{@conference.slug}"} #{@conference.title}
          gibt.

    -if user_signed_in? and (!@event.synch_event or !@event.event_over)
      %br/
      = form_for(:purchase, :url => "/purchase", html: { method: :post, autocomplete: "off"}) do |f|
        = f.hidden_field :event_id, :value => @event.id
        = f.hidden_field :conference_id, :value => @conference.id
        = f.text_field :paid, {class: "amount", id: "price_input", oninput: "checkPriceInput(#{@event.view_threshold})"}
        &ensp;
        %b.amount €
        &emsp;
        &ensp;
        = f.submit "Kaufen" , {id: "buy", disabled: true}
        %br/
        %br/
        %i Zahlung via PayPal
      %br/
      %div
        - flash.each do |key, value|
          - value
      %b Mindestpreis:
      %i #{@event.view_threshold_pretty}€
      - if @event.downloadable and @event.download_threshold > @event.view_threshold
        %br/
        %b Downloadpreis:
        %i #{@event.download_threshold_pretty}€
      - if Purchase.where(event_id: @event.id, finalized: true).length > 3
        %br/
        %b Im Durchschnitt gezahlt:
        %i #{@event.average_price}€
      %br/
      %br/
      Lies bitte auch unsere Hinweise zum Thema
      %a Kopierschutz
    -if !user_signed_in? and (!@event.synch_event or !@event.event_over)
      %br/
      %br/
      %b
        Um den Zugang zu erwerben musst du dich
        %a{href: "/login"} anmelden
        oder
        %a{href: "/registrieren"} registrieren.

  %div{class: "thumb-wrapper"}
    %img{src: h(@event.thumb_url)}
    %span