= javascript_include_tag 'chat.js'
%div.chat-settings
  -#%a{onclick: "alert('implement me')"}
  -#  %i{:class => "icon-user", :title => "Anwesende Nutzer*innen"}
  %a{onclick: "manualToggleBlockedMessages()"}
    %i{:class => "icon-eye", :title => "Blockierte Nachrichten zeigen oder verstecken"}
  %a{onclick: "toggleFullscreen()"}
    %i{:class => "icon-columns", :title => "Theater-Modus"}

%div.chat-messages{id: "chat-messages", "data-channel-subscribe" => "event", "data-event-id" => @event.id}
  - @event_messages.reverse_each do |event_message|
    %div.chat-message
      %span.message-id
        = event_message.id
      %span.user-id
        = event_message.user_id
      -if event_message.user_id == current_user.id
        %b.own-username
          = event_message.name
      -else
        .dropdown
          %btn.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %b.message-username
              = event_message.name
          %div.dropdown-menu
            %div.user-dropdown-content
              %ul
                %li
                  %a{onclick: "report(this)"} Nachricht melden
                %li
                  %a{onclick: "block(this)"} Blockieren
                - if current_admin_user
                  %li
                    %a{onclick: "mute(this)", style: "color: #FF2020;"} Für alle stummschalten
      %span.message-text
        = event_message.message
      %br/
%div.chat-input
  = form_for(:event_message, html: {id: "chat-form"}) do |f|
    -if current_user.muted_until == nil or current_user.muted_until < Time.zone.now
      = f.text_area :message, as: :string, rows: 3, placeholder: "Nachricht absenden mit Enter", onkeyup: "submitOnEnter(event,this);return false;", id: "chat-textarea"
    -else
      = f.text_area :message, as: :string, rows: 3, placeholder: "Du bist stumm geschaltet.", id: "chat-textarea", disabled: true
    = f.hidden_field :event_id, :value => @event.id