= javascript_include_tag 'price.js'
%p
  Wenn du möchtest kannst du diesen Inhalt gerne mit einer Spende ab einem Euro finanziell unterstützen.
  %br/
  -if user_signed_in?
    = form_for(:purchase, :url => "/purchase", html: { method: :post, autocomplete: "off"}) do |f|
      = f.hidden_field :event_id, :value => event.id
      = f.hidden_field :conference_id, :value => conference.id
      = f.text_field :paid, {class: "amount", id: "price_input" , oninput: "checkPriceInput(100)"}
      &ensp;
      %b.amount €
      &emsp;
      &ensp;
      = f.submit "Spenden", {id: "buy", disabled: true}
  -else
    %br/
    %i Bitte logge dich ein um den Inhalt zu unterstützen.