.caption
  %h3
    %a{href: event_path(slug: event.slug)}
      = truncate(event.title, length: 90, separator: ' ', omission: '…')

  - if event.subtitle.present?
    %h4{title: event.subtitle}
      = truncate(event.subtitle, length: 60, separator: ' ', omission: '…')

  %ul.metadata
    - if event.supportable and event.view_threshold > 0
      %li.price
        #{event.view_threshold_pretty}€
    - if event.synch_event
      %li.price
        %span.icon.icon-comments-o
    %li.duration
      %span.icon.icon-clock-o
        = duration_in_minutes(event.duration)
    =#%li.view-count
    =#  %span.icon.icon-eye
    =#  = event.view_count
    %li.persons
      = render partial: 'frontend/shared/event_persons', locals: { persons: event.persons }

  - if event.timelens_present?
    %div.timelens{data: {timeline: event.timeline_url, thumbnails: event.thumbnails_url, slug: event.slug, duration: event.duration}}
