%footer
  Running
  %a.inverted{href: '//gitlab.com/floworbit/soctoweb/'} Soctoweb
  by 
  %a.inverted{href: '//filmfaktum.de'} FilmFaktum
  forked from
  %a.inverted{href: '//github.com/voc/voctoweb'} Voctoweb
  &emsp;
  &emsp;
  &emsp;
  &emsp;
  &emsp;
  &emsp;
  %a.inverted{href: '/impressum'}Impressum
  ,
  %a.inverted{href: '/agb'}AGB
  ,
  %a.inverted{href: '/datenschutz'}Datenschutzerklärung