= javascript_include_tag 'clipboard.js'
%li.event
  .event-preview
    = render partial: 'frontend/shared/event_thumb', locals: { event: event }
    .group-metadata
      %p
        %a{href: "/g/" + event.slug}
          %b
            = event.title
      %p
        Codewort:
        %a{id: "joinCode", onclick: "copyToClipboard()"}
          #{event.join_code}
          %span.icon.icon-copy
      %p
        Startzeit:
        - if event.starting_time.today?
          %b Heute
          um
          = event.starting_time.to_formatted_s(:time_german)
          Uhr
        - else
          = event.starting_time.to_formatted_s(:short_german)
      %p
        Teilnehmer*innen:
        - GroupMember.where(event_id: event.id).each do |member|
          = User.find(member.user_id).name