.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      %a.navbar-brand(href='/')
        %span
          %img{src: image_path('frontend/placeholder.svg'), alt: 'ugly logo placeholder'}

    - if content_for?(:navbar)
      = yield :navbar

    .nav.navbar-form.navbar-right.button-wrapper
      %a.form-control.btn.btn-default{href: '/about.html'}
        %span.icon.icon-info

    - if !user_signed_in?
      .nav.navbar-form.navbar-right
        %a.form-control.btn.btn-register{href: '/register'} Registrieren

      .nav.navbar-form.navbar-right.dropdown
        %button#loginMenu.btn.btn-login.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"} Login
        %div.dropdown-menu.feeds_dropdown{"aria-labelledby" => "feedMenu"}
          = render '/users/shared/new'

    - else
      .nav.navbar-form.navbar-right.dropdown.account
        %button#accountMenu.btn.btn-account.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"} Menü
        %div.dropdown-menu.feeds_dropdown{"aria-labelledby" => "feedMenu"}
          %a.form-control.btn.btn-default{href: '/group_event'} Filmabend
          %a.form-control.btn.btn-default{href: '/library'} Bibliothek
          %a.form-control.btn.btn-default{href: '/settings'} Einstellungen
          = button_to("Logout", destroy_user_session_path, :method => :delete, :class => "btn btn-default")

    %form.navbar-form.navbar-right{role: 'search', action: '/search/', method: 'get', id: 'media-search'}
      .form-group.input-group
        %input.form-control{type: 'search', size: '17', name: 'q', placeholder: 'Suche…', value: @searchquery}
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'}
            %span.icon.icon-search

- breadcrumbs_trail do |parts, last|
  .breadcrumb
    %ol.container-fluid.breadcrumb
      %li
        %a.inverted{href: browse_start_path}
          browse
      - parts.each_with_index do |part, index|
        %li
          %span.icon.icon-chevron-right
          %a.inverted{href: browse_path(parts[0..index].join('/'))}
            = part
      %li.active
        %span.icon.icon-chevron-right
        = last

