.col-xs-12.recently
  .nextup
    .headline
      %h2 Nächste Vorführungen mit Chat
    %ul.list-unstyled
      - @next_up.each do |event|
        - cache(event) do
          .col-md-4
            %li.event
              .event-preview
                = render partial: 'frontend/shared/event_thumb', locals: { event: event }
              %a.title{href: event_path(slug: event.slug), title: event.title.length > 55 ? event.title : ''}
                = truncate(event.title, length: 55, separator: ' ', omission: '…')
              - if event.supportable and event.view_threshold > 0
                .price
                  %span.icon.icon-money
                  #{event.view_threshold_pretty}€
              .date
                %span.icon.icon-calendar-o{title: display_release_date_title(event)}
                - if event.event_running
                  %b{style: "color: #DD0000;"} Jetzt
                - elsif event.starting_time.today?
                  %b Heute
                  um
                  = event.starting_time.to_formatted_s(:time_german)
                - else
                  = event.starting_time.to_formatted_s(:short_german)
                - unless event.repeat_days.blank?
                  %p
                    Immer
                    = event.repeat_days_pretty