
-# be aware that this partial is used for the event page AND for the oembed code

%video.video{controls: 'controls', 'data-id' => event.id, poster: event.poster_url, width: width, height: height, preload: 'metadata', 'data-timeline' => (event.timelens_present? ? event.timeline_url : nil), "data-channel-subscribe" => "event_sync"}
  - event.videos_sorted_by_language.each do |recording|
    %source{type: recording.mime_type, src: h(recording.url_with_key(current_user)), data: { lang: recording.language, quality: recording_quality(recording) }, title: recording_title(recording)}

  - event.recordings.subtitle.each do |track|
    %track{kind: "subtitles", src: h(track.cors_url), srclang: track.language_iso_639_1()}

  - if event.timelens_present?
    %track{kind: "metadata", label: "thumbnails", src: event.thumbnails_url, srclang: ""}

  %link{rel: "postroll", href: postroll_path(slug: event.slug)}

= javascript_include_tag 'player_video.js'