%p
  Das Projekt dok.watch hat das Ziel Filme und weitere Inhalte im Internet zur Verfügung zu stellen,
  welche selten bei den öffentlich rechtlichen Fernsehsendern den Weg aus dem Archiv finden.
  Dabei sind wir der Meinung, dass das Medium Film mehr Möglichkeiten bietet als nur einen endlosen Netflix Marathon.
  Deswegen werden hier regelmäßig digitale Filmeabende veranstaltet. Im Chat kann dann mit allen Teilnehmer*innen gleich während dem Film über das Gesehene diskutiert werden.
  So wollen wir den Film interaktiv werden lassen.
%p
  Demnächst wollen wir außerdem die Möglichkeit bieten, dass du auch deinen eigenen Filmeabend organisieren kannst.
