- if @event.event_pending
  .container
    %br/
    %h4 Dieses Event hat noch nicht begonnen.
    %h4 Es startet am #{@event.starting_time.to_formatted_s(:short_german)}, der Chat wird eine halbe Stunde vor Beginn geöffnet.
    %h4
      Schau solange doch mal nach was es sonst noch zu
      %a{href: "/b/#{@conference.slug}"} #{@conference.title}
      gibt oder ruh dich ein wenig aus.

    %img{src: image_path('frontend/sleeping.jpg'), alt: 'An old drawing of a person sleeping under a tree with a hat covering their face'}
    %br/
- elsif @event.event_running
  %div{class: 'chat-video-wrapper', id: 'chat-video-wrapper'}
    -if user_signed_in?
      -if @event.synch_event and @event.starting_time > Time.zone.now
        = javascript_include_tag 'countdown.js'
        %div.starting-time
          %p Der Film startet um #{@event.starting_time.to_formatted_s(:time_german)} Uhr.
          %p
            Nur noch
            %span{id: "minutes-left"}
              #{@event.starting_time.strftime '%FT%T.%LZ'}
      -else
        -if !@event.event_over
          %div.syncing{id: "syncing-notice"}
            Syncing...
          %div.muted{id: "unmute-button", style: "display: unset;"}
            %span.icon.icon-volume-up{onclick: "document.dispatchEvent(unmute);return false"}
      %div.muted{id: "unmute-button"}
        %span.icon.icon-volume-up{onclick: "document.dispatchEvent(unmute);return false"}

      %div{class: 'player-video'}
        = render partial: 'frontend/shared/player_video', locals: video_player_ivars
      %div.chat
        = render partial: 'frontend/shared/chat'
    - else
      .container
        %br/
        %h4 Das Event läuft bereits.
        %h4 Filmstart ist um #{@event.starting_time.to_formatted_s(:time_german)} Uhr.
        %h4 Da es sich um eine lineare Vorführung mit Chat handelt musst du dich einloggen um teilnehmen zu können. Die Teilnahme ist kostenlos.
        %h4
          Wenn du noch keinen Account hast kannst du dich noch schnell
          %a{href: "/register"} registrieren.
  %br/
- else
  .container
    .buy
      %div{class: "price-box"}
        %h4 Dieses Event ist leider schon vorbei.
        %h4
          Schau doch mal nach was es sonst noch zu
          %br/
          %a{href: "/b/#{@conference.slug}"} #{@conference.title}
          gibt.

      %img{src: image_path('frontend/clock.jpg'), alt: 'An old drawing of a clock'}

%div{"data-role" => "message-template"}
  %div.chat-message
    %span.message-id{"data-role" => "message-id"}
    %span.user-id{"data-role" => "user-id"}
    .dropdown
      %btn.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %b.message-username{"data-role" => "user-name"}
      %div.dropdown-menu
        %div.user-dropdown-content
          %ul
            %li
              %a{onclick: "report(this)"} Nachricht melden
            %li
              %a{onclick: "block(this)"} Blockieren
            - if current_admin_user
              %li
                %a{onclick: "moderate()", style: "color: #FF2020;"} Für alle stummschalten
    %span.message-text{"data-role" => "message-text"}
    %br/

%div{"data-role" => "own-message-template"}
  %div.chat-message
    %span.message-id{"data-role" => "message-id"}
    %b.own-username{"data-role" => "user-name"}
    %span.message-text{"data-role" => "message-text"}
    %br/

- if user_signed_in?
  %span{id: "current_user", style: "display: none;"}
    = current_user.name