- content_for :title do
  Home

- content_for :body_class do
  page-start

= render 'frontend/shared/promoted'

.container-fluid
  .row
    = render 'frontend/shared/nextup'

    .col-xs-12.recently
      .headline
        %h2 Kürzlich hinzugefügt
        %a{href: recent_path}
          Mehr neue Videos

      .row.conferences
        - @recent_conferences.each do |conference|
          - cache(conference) do
            .col-md-4.conference
              %h3
                %a{href: conference_path(acronym: conference.acronym)}
                  = conference.title

              %ul.list-unstyled
                - recent_events_for_conference(conference).each do |event|
                  - cache(event) do
                    %li.event
                      .event-preview
                        = render partial: 'frontend/shared/event_thumb', locals: { event: event }

                      %a.title{href: event_path(slug: event.slug), title: event.title.length > 55 ? event.title : ''}
                        = truncate(event.title, length: 55, separator: ' ', omission: '…')
                      - if event.supportable and event.view_threshold > 0
                        .price
                          %span.icon.icon-money
                          #{event.view_threshold_pretty}€
                      - if event.synch_event
                        .synch
                          %span.icon.icon-comments-o
                          Live-Diskussion
                        .date
                          %span.icon.icon-calendar-o{title: display_release_date_title(event)}
                          - if event.starting_time.today?
                            %b Heute
                            um
                            = event.starting_time.to_formatted_s(:time_german)
                          - else
                            = event.starting_time.to_formatted_s(:short_german)


              - if conference.events.count > Frontend::HomeController::EVENT_LIMIT
                %a.more{href: conference_path(acronym: conference.acronym)}
                  Und #{conference.events.count - Frontend::HomeController::EVENT_LIMIT} weitere Videos zu #{conference.title}


  .row
    - if @news.present?
      .col-sm-6
        %h2 News
        %article.news-item
          %span.date.pull-right= @news.date_formatted
          %h3= @news.title
          != @news.body

    %div{class: @news.present? ? 'col-sm-6' : 'col-sm-12'}
      %h2 Über dok.watch
      =render 'frontend/shared/short_about'
