- content_for :title do
  = @event.title

- content_for :body_class do
  page-show

- content_for :head do
  %meta{property: 'og:title', content: @event.title}
  %meta{property: 'og:type', content: 'video.other'}
  %meta{property: 'og:url', content: event_path(slug: @event.slug)}
  %meta{property: 'og:image', content: @event.poster_url}
  %meta{property: 'og:video', content: opengraph_video(@event.videos_sorted_by_language)}
  %meta{property: 'og:description', content: @event.short_description}
  != "<link href='#{oembed_api_event_url(@event)}' rel='alternate' title='media.ccc.de oembed profile' type='application/json+oembed'>"

- if current_admin_user
  - content_for :navbar do
    .nav.navbar-form.navbar-right.button-wrapper
      %a.form-control.btn.btn-default{href: edit_admin_event_path(@event)}
        %span.icon.icon-edit

- content_for :description do
  %meta{name: 'description', content: @event.short_description}

- cache([@event.conference, @event]) do

  - if @event.recordings.video.present?
    - if !@event.supportable or @event.view_threshold == 0 or (user_signed_in? and @event.user_purchased_view(current_user.id)) or @event.event_over
      - if @event.synch_event
        = render partial: 'frontend/shared/synch_event', locals: video_player_ivars
      - else
        .player
          .container-fluid
            = render partial: 'frontend/shared/player_video', locals: video_player_ivars
    - else
      .container-fluid
        =render partial: 'frontend/shared/buy', locals: video_player_ivars
  - else
    Keine Inhalte gefunden.
  .container-fluid
    %ul.metadata
      %li
        %span.icon.icon-clock-o
        = duration_in_minutes(@event.duration)
      %li
        %span.icon.icon-calendar-o{title: display_release_date_title(@event)}
        = @event.display_date
      - if ! @event.released_on_event_day?
        %li
          %span.icon.icon-upload{title: 'release date'}
          = @event.release_date
      %li
        %span.icon.icon-eye
        = @event.view_count
      - if @event.link.present?
        %li
          %span.icon.icon-external-link
          %a{href: @event.link}
            = parse_url_host(@event)

    .player-header
      .conference
        - if @conference&.logo_url
          %a.thumbnail.conference{href: conference_path(acronym: @conference.acronym)}
            %img{src: @conference.logo_url, alt: 'conference logo'}
            - if @conference.logo_does_not_contain_title
              .caption
                = @conference.title
        - else
          =@conference.title
      %h1
        = @event.title
      - unless @event.subtitle.blank?
        %h2
          = @event.subtitle

    %p.persons
      = render partial: 'frontend/shared/event_persons', locals: { persons: @event.persons }


    - if @event.description.present?
      /%h3 About
      %p.description
        = simple_format @event.description

    -if @event.downloadable and (@event.download_threshold == 0 or (user_signed_in? and @event.user_purchased_download(current_user.id)))
      %h3 Download
      .download
        = render partial: 'frontend/shared/download', locals: { conference: @conference, event: @event }

    -if @event.downloadable and user_signed_in? and @event.user_purchased_view(current_user.id) and !@event.user_purchased_download(current_user.id)
      %h3 Download
      .donate
        = render partial: 'frontend/shared/buy_download', locals: { conference: @conference, event: @event }

    -if @event.supportable and @event.view_threshold == 0
      %h3 Spenden
      .donate
        = render partial: 'frontend/shared/donate', locals: { conference: @conference, event: @event }

    - if @event.metadata['related'].present?
      %h3 Related
      = render partial: 'frontend/shared/related', locals: { events: Frontend::Event.find(@event.related_event_ids(10)) }

    /%h3 Embed/Share
    .share
      = render partial: 'frontend/shared/embedshare', locals: { event: @event }

    - if @event.tags.present?
      %h3 Tags
      .tags
        - @event.tags.each do |tag|
          != link_for(tag)
