= stylesheet_link_tag    'application', media: 'all'
.container
  %h2 Login
  Login fehlgeschlagen, bitte versuche es erneut.
  %br/
  %br/
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Login"
  = render "users/shared/links"
