- if resource.errors.any?
  #error_explanation
    %b
      = I18n.t("errors.messages.not_saved",                 |
        count: resource.errors.count,                       |
        resource: resource.class.model_name.human) |
    %ul
      - resource.errors.full_messages.each do |message|
        %li= message
