- content_for :title do
  = @event.title

- content_for :body_class do
  page-show

- if current_admin_user
  - content_for :navbar do
    .nav.navbar-form.navbar-right.button-wrapper
      %a.form-control.btn.btn-default{href: edit_admin_event_path(@event)}
        %span.icon.icon-edit

- cache([@event]) do

  - if @event.recordings.video.present?
    - if !@event.supportable or @event.view_threshold == 0 or (user_signed_in? and @event.user_purchased_view(current_user.id)) or @event.event_over
      - if @event.synch_event
        = render partial: 'frontend/shared/synch_event', locals: video_player_ivars
      - else
        .player
          .container-fluid
            = render partial: 'frontend/shared/player_video', locals: video_player_ivars
    - else
      .container-fluid
        =render partial: 'frontend/shared/buy', locals: video_player_ivars
  - else
    Keine Inhalte gefunden.
  .container-fluid
    %ul.metadata
      %li
        %span.icon.icon-clock-o
        = duration_in_minutes(@event.duration)
      %li
        %span.icon.icon-calendar-o{title: display_release_date_title(@event)}
        = @event.display_date
      - if ! @event.released_on_event_day?
        %li
          %span.icon.icon-upload{title: 'release date'}
          = @event.release_date
      %li
        %span.icon.icon-eye
        = @event.view_count
      - if @event.link.present?
        %li
          %span.icon.icon-external-link
          %a{href: @event.link}
            = parse_url_host(@event)

    .player-header
      %h1
        = @event.title
      - unless @event.subtitle.blank?
        %h2
          = @event.subtitle

    %p.persons
      = render partial: 'frontend/shared/event_persons', locals: { persons: @event.persons }


    - if @event.description.present?
      /%h3 About
      %p.description
        = simple_format @event.description

    - if @event.tags.present?
      %h3 Tags
      .tags
        - @event.tags.each do |tag|
          != link_for(tag)
