- content_for :title do
  Neue Inhalte

- content_for :body_class do
  page-list

.container-fluid
  %h1 Neue Inhalte
  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render partial: 'frontend/shared/event_with_conference', locals: { event: event }
