- @context_messages.reverse_each do |message|
  %p
    - if message.id == params[:id].to_i
      %b
        = message.name + ": "
        = message.message
    - else
      = message.name + ": "
      = message.message