%h1
  = @user.name
  Stummschalten

= form_for(:user) do |f|
  %p
    Bis zum:
    %br/
    = f.date_field :muted_until, min: Date.today
  %p
    Begründung:
    %br/
    =f.text_field :mute_reason
  %p
    = f.submit "Stummschalten"