- title = @searchquery.present? ? "Search for \"#{@searchquery}\"" : "Search"

- content_for :title do
  = title

- content_for :body_class do
  page-list

.container-fluid
  %h1= title
  .events-header

  - if @events.present?
    = link_to_prev_page @events, 'prev'
    = link_to_next_page @events, 'next'
    .event-previews
      - @events.each do |event|
        = render partial: 'frontend/shared/event_with_conference', locals: { event: event }
  - else
    %p
      Die Suche nach "#{@searchquery}" ergab keine Ergebnisse.
    %p
      Schau dir doch die
      %a{href: recent_path}
        neuesten Videos
      an oder wirf einen Blick auf die
      %a{href: popular_path}
        beliebtesten Videos.
