.event-preview {
  position: relative;

  .group-metadata {
    display: inline-block;
    padding-left: 1em;

    span {
      text-decoration: none;
      color: black;
    }

  }

  .metadata {
    text-align: left;
    border: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px 0 8px 0;

    li {
      display: inline-block;
      list-style-type: none;
      min-width: 24.5%;
      padding: $padding-small-vertical $padding-small-horizontal;

      padding: $padding-xs-vertical;
      padding-right: $padding-xs-horizontal;
      color: $gray-dark;
      min-width: inherit;

      color: lighten(#333333, 25%);

      &.duration { display: none; }

      .icon {
        margin-right: $padding-xs-horizontal;
      }
    }
  }

  .duration-container {
    position: relative;
    top: 0;
    left: 0;

    img.video-thumbnail {
      width: 100%;
      height: auto;
      display: block;
    }

    .duration {
      position: absolute;
      right: 0;
      bottom: 0;
      color: white;
      background: black;
      padding: 2px 4px;
    }
  }
}
