!!! 5
%html{lang: 'de'}
  %head
    = render 'frontend/shared/header'
    %title
      = t('custom.title')
      - if content_for?(:title)
        = yield :title
      - else
        = @event.try(:title) || @conference.try(:title)

    = yield :head

  %body{:class => content_for(:body_class)}
    = render partial: 'frontend/shared/navbar'

    = yield

    = render 'frontend/shared/footer'
