- content_for :title do
  Beliebte Inhalte

- content_for :body_class do
  page-list

.container-fluid
  %h1 Beliebte Inhalte
  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render partial: 'frontend/shared/event_with_conference', locals: { event: event }
