= stylesheet_link_tag    'application', media: 'all'
%title Passwort vergessen
.container
  %h2 Passwort vergessen?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    %br/
    .actions
      = f.submit "Zurücksetzen"
  = render "users/shared/links"
