- content_for :title do
  Meine Blockierungen

- content_for :body_class do
  page-list

.container-fluid
  %h1 Meine Blocks
  - if @blocks.present?
    .event-previews
      - @blocks.each do |block|
        %h3
          = User.find(block.target).name
        %p
          -if ArchivedName.where(user_id: block.target).exists?
            Weitere Namen:
            - ArchivedName.where(user_id: block.target).each do |archived_name|
              %br/
              \-&nbsp;
              %i
                = archived_name.name
        =form_for(:block, url: "/block/#{block.id}", method: "delete") do |f|
          =f.submit "Entblocken"
        %br
  - else
    %h3 Du hast zur Zeit keine Nutzer*innen blockiert.
