- content_for :title do
  Filmabend

- content_for :body_class do
  page-list

.container-fluid
  %h1 Filmabend
  =# TODO HÜBSCHES BILD
  %h2 Ausstehend
  %ul.list-unstyled
    - GroupMember.where(user_id: current_user.id).each do |member|
      = render partial: 'frontend/shared/group_event_thumb', locals: { event: member.get_event}
  %h2 Beitreten
  %p Um einem Filmabend beizutreten benötigst du das Codewort, welches die Person die den Filmabend erstellt hat festgelegt hat.
  = form_for(:group_event, :url => "/join_group", html: { method: :post, autocomplete: "off"}) do |f|
    .field
      = f.label "Codewort"
      &nbsp;
      = f.text_field :join_code
    .actions
      %br/
      = f.submit "Beitreten"
  %h2 Erstellen
  = form_for(:group_event, :url => "/group_event", html: { method: :post, autocomplete: "off"}) do |f|
    .field
      %p
        = f.label "Film"
        &nbsp;
        = f.select :event_id, Event.pluck(:title, :id)
      %p
        = f.label "Datum"
        &nbsp;
        = f.text_field :date, {"data-provide": 'datepicker', "data-date-language": "de"}
      %p
        = f.label "Uhrzeit"
        &nbsp;
        = f.select :hour, %w(00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23)
        \:
        = f.select :minute, %w(00 05 10 15 20 25 30 35 40 45 50 55)
    .actions
      %br/
      = f.submit "Erstellen"