- content_for :title do
  Bibliothek

- content_for :body_class do
  page-list

.container-fluid
  %h1 Meine Bibliothek
  %p Hier findest du alle Inhalte die du erworben oder mit einer Spende unterstützt hast.
  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render partial: 'frontend/shared/event_with_conference', locals: { event: event }