= javascript_include_tag 'confirmation.js'

- content_for :title do
  Einstellungen

.container
  %br/
  %img{src: image_path('frontend/ginsterkatze.jpg'), alt: 'An old drawing of a genet', width: '50%', style: "float:right"}
  %h2
    Einstellungen

  %h3 Chat
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .field
      = f.label "Nickname"
      %br/
      = f.text_field :name, input_html: { value: nil}
    %br/
    .actions
      = f.submit "Update"
    %br/
    Aktueller Nickname:
    %i #{current_user.name}
    %br/
    %br/
    %b Stummschaltung
    %br/
    -if current_user.muted_until != nil and current_user.muted_until > Time.zone.now
      Du bist bis zum #{current_user.muted_until.to_formatted_s(:date_german)} stumm geschaltet.
      %br/
      Begründung:
      %i
        #{current_user.mute_reason}
      %br/
      Bitte halte dich in Zukunft an die Community-Regeln.
    -else
      Du bist aktuell nicht stumm geschaltet.
      %br/
      Danke, dass du die Community-Regeln respektierst.
    %br/
    %br/
    %b Blocks
    %br/
    Du hast zur Zeit
    = link_to Block.where(user_id: current_user.id).count.to_s + " Nutzer*innen", "/settings/blocks"
    blockiert.
  %h3 Daten ändern
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Warte auf Bestätigung für: #{resource.unconfirmed_email}
    %br/
    .field
      %b Neues Passwort
      %i (Wenn du nur deine E-Mail Adresse ändern willst lasse das Feld einfach frei)
      %br/
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum
    %br/
    .field
      %b Bestätigung des neuen Passworts
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    %br/
    .field
      %b Aktuelles Passwort
      %i (Um Änderungen durchzuführen benötigen wir dein aktuelles Passwort)
      %br/
      = f.password_field :current_password, autocomplete: "current-password"
    %br/
    .actions
      = f.submit "Update"
  %h3 Daten herunterladen
  %p Das speichern wir über dich:
  %ol
    %li Deine E-Mail Adresse
    %li Deine verwendeten Nicknames
    %li Einen Hashwert deines Passworts
    %li Eine Liste der Medien die du gekauft oder geliehen hast
    %li Einen Hinweis ob und bis wann du stumm geschaltet bist
  %p
    = link_to "Meine Daten herunterladen", "/settings/gdpr-download"

  %h3 Account löschen
  .deletionwarning
    %p Achtung! Dies kann nicht rückgängig gemacht werden! Sofern du sie nicht heruntergeladen hast verlierst du den Zugang zu allen gekauften Filmen.
    %p Um die Löschung zu bestätigen schreibe "Wirklich löschen!" in das Textfeld, gebe dein Passwort ein und drücke den Knopf.
    %p
      %b Bestätigung
    %p
      = text_field_tag "confirmation", "", id: "user_confirmation"
    %p
      = form_for(:user, :url => registration_path(resource_name), html: { method: :delete }) do |f|
        .field
          = f.label "Passwort"
          %br/
          = f.password_field :current_password, autocomplete: "current-password"
          %br/
          %br/
        .actions
          = f.submit "Löschen" , {id: "delete"}