- content_for :title do
  Nach Thema durchsuchen

- content_for :body_class do
  page-browse

.container-fluid
  %h1 Nach Thema durchsuchen

  - if @folders.present?
    - @folders.each do |folder|
      - if folder.conference?
        %a.thumbnail.conference{href: conference_path(acronym: folder.conference.acronym)}
          .header
            %span.icon.icon-video-camera
            = folder.conference.downloaded_events_count
          %img{src: folder.conference.logo_url, alt: 'conference logo'}
          .caption
            = folder.conference.title
      - else
        %a.thumbnail.folder{href: browse_path(folder.path)}
          .header
            %span.icon.icon-th
          .icon.icon-folder
          .caption
            = folder.name
