- content_for :title do
  Themen nach Datum

- content_for :body_class do
  page-browse

.container-fluid
  %h1 Alle Themen

  - if @conferences.present?
    - @conferences.each do |conference|
      %a.thumbnail.conference{href: conference_path(acronym: conference.acronym)}
        .header
          %span.icon.icon-video-camera
          = conference.downloaded_events_count
        %img{src: conference.logo_url, alt: 'conference logo'}
        .caption
          = conference.title

