- content_for :body_class do
  page-list

.container-fluid
  .events-header
    .logo
      %img{src: @conference.logo_url, alt: 'conference logo'}
    %h1= @conference.title or @conference.acronym.gsub(/[\-_]/,' ')

    - if @events.present?
      Full playlist:
      = link_to 'Video', playlist_conference_path(slug: @conference.first_slug), method: :get
      - if @conference.audio_recordings?
        \/
        = link_to 'Audio', audio_playlist_conference_path(slug: @conference.first_slug), method: :get

    #sorting.btn-group.btn-group-sm.btn-group-justified
      - %w{name duration date view_count}.each do |sorting|
        - if @sorting == sorting
          %a.btn.btn-primary.active{ href: conference_path(acronym: @conference.acronym, sort: sorting) }= sorting.gsub(/_/, ' ')
        - else
          %a.btn.btn-primary{ href: conference_path(acronym: @conference.acronym, sort: sorting) }= sorting.gsub(/_/, ' ')

  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render event
