-# The actual user edit controller can be found at frontend/account/settings, so it stays in the scope of the main frontend
-# This page is only needed to display error messages.
-# TODO: Fix this ugly solution and make it possible to render the error messages directly on the /settings page
= stylesheet_link_tag    'application', media: 'all'
.container
  %h1 :(
  = render "devise/shared/error_messages", resource: resource
  %a.btn.btn-register{href: 'settings'} Erneut versuchen