= stylesheet_link_tag    'application', media: 'all'
%title Registrieren

%body

  .container
    %img{src: image_path('frontend/butterfly.jpg'), alt: 'An old drawing of a butterfly', width: '50%'}
    %h2 Registrieren
    %p Registriere dich jetzt um Filme und Projekte direkt zu unterstützen, deine Bibliothek anzusehen und an den Diskussionen teilzunehmen.
    %p Die Registrierung ist natürlich kostenlos.
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "users/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      %br/
      .field
        = f.label "Nickname"
        %br/
        = f.text_field :name, autocomplete: "name"
      %br/
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (Mindestens #{@minimum_password_length} Zeichen)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      %br/
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      %br/
      .field
        = check_box_tag "agb"
        Ich habe die
        = link_to "Datenschutzerklärung", "/datenschutz"
        und die
        = link_to "AGB", "/agb"
        gelesen und akzeptiert
      %br/
      .actions
        = f.submit "Registrieren"
    %br/
    = render "users/shared/links"
